*{
    margin: 0;
    padding: 0;
    
}

:root{
    --text:#FDFDFD;
    --border: #B3B8B8;
    --hidden-text: #8B8994;
    --input:#3B364C;
}

html, body {
    overflow: hidden;
 }


body{

    background-image: url('../Pic/premium_photo-1686782502813-51579b55f6d8.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    
}


.log{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: none;
}



#modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.modal-content{
    background-color: #6E54B5;    
    /* background-color:rgba(255,255,255, 0.5) ; */
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
}


#login-form{
   width: 100vw;
   height: 100vh;
    display: flex;
    justify-content:center ;

}

.image{
    height: 80%;
    width: 80%;
    margin: 7% 5% 5% 5%;
}

.right{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.head{
    color: var(--text);
    margin-top: 10%;
}

.paragraph{
    color: var(--hidden-text);
    margin-bottom: 10%;
}

input{
    background-color: var(--input);
    padding: 10px;
    border-radius:30px;
    border: none;
    color: white;
}

input:focus{
    border: none;
    outline:none;
}

.name{
    display: flex;
    gap: 4%;
    margin-bottom: 4%;
}

.text{
 width: 40%;   
}

.verification{
    display: grid;
    gap: 20%;
    width: 95%;
}
.terms{
    display: flex;
    margin-top: 7%;
    gap: 5%;
}

.condition{
    color: var(--text);
    font-size: 10px;
    
}       


#btn{
    border-radius: 10px;
    width: 95%;
    height: 2rem;
    margin-top:10% ;
    background-color: #6E54B5;
}



.divider{
    width: 20%;
    height: 2px;
    background-color: var(--input);
}

.div-data{
    display: flex;
}

.registration{
    font-size: 1rem;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 12%;
    margin-top: 7%;
}




#lay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem 3rem 3rem;

}


.logo_section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo_name{
    color: var(--text);
    font-weight: 400;
}

.logo_img{
    height: 5rem;
    width: 5rem;
    
}


.divider{
    width:3px;
    height: 1.2rem;
    background-color: #C3C5C5;
    border-radius: 40%;
}

nav ul{
    background: rgba(255, 255, 255, 0.10);
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 40px;
    border:3px  rgba(255, 255, 255, 0.2) solid;
    }

nav a{
    text-decoration: none;
    color: var(--text);
    font-size: 14px;
    font-weight:900 ;

}

.headline{
    color:white;
    font-size: 4rem;
    margin-left: 30px;
    font-weight: 500;
}

#call_btn {
    padding: 10px;
    border-radius: 40px;
    border-left: 30px;
    border-right: 30px;

}

#call_btn:hover{
    cursor: pointer;
    
}


.overlay{
    display: none;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

